{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <body>
        <div class="mb-3">
            <h1>TRANSACTION HISTORY</h1>
        </div>
    </body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Purchase Price</th>
                <th scope="col">Total</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Transaction Type</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{row["symbol"]}}</td>
                    <td>{{row["shares"]}}</td>
                    <td>{{row["price"] | usd}}</td>
                    <td>{{row["total"] | usd}}</td>
                    <td>{{row["timestamp"]}}</td>
                    <td>{{row["transaction_type"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
