{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="mb-3">
         <h1>PORTFOLIO</h1>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Current Price</th>
                <th scope="col">Value Now</th>
                <th scope="col">Profit</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{row["symbol"]}}</td>
                    <td>{{row["shares"]}}</td>
                    <td>{{row["price"]}}</td>
                    <td>{{row["value_now"]}}</td>
                    {% if row['prfl']|float > 0 %}
                        <td class="table-success">{{row["profit"]}}</td>
                        <td class="table-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5"/>
                          </svg></td>
                    {% else %}
                        <td class="table-danger">{{row["profit"]}}</td>
                        <td class="table-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4"/>
                          </svg></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="mb-3">
        <h1>WALLET</h1>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Cash</th>
                <th scope="col">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{cash}}</td>
                <td>{{sum}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
